<html>
<body>
<table width="98%" border="1" cellpadding="2" cellspacing="1"> 
  <tr>
    <td align="center" colspan="4" class="bt">申请单位基本情况</td>
  </tr>
  <tr width="100%">
    <td class="font12-2" width="12%">企业名称：</td>
    <td width="38%">_corpname</td>
    <td class="font12-2" width="12%">人员数量：</td>
    <td width="38%">_amount</td>
  </tr>
  <tr>
    <td class="font12-2">地&nbsp;&nbsp;&nbsp; 址：</td> 
    <td>_address</td>
    <td class="font12-2">邮&nbsp;&nbsp;&nbsp; 编：</td> 
    <td>_zipcode</td>
  </tr>
  <tr>
    <td class="font12-2">网&nbsp;&nbsp;&nbsp; 址：</td> 
    <td>_web</td>
    <td class="font12-2">注册资金：</td>
    <td>_fund</td>
  </tr>
  <tr>
    <td class="font12-2">业务区域：</td>
    <td>_operationarea</td>
    <td class="font12-2">经营范围：</td>
    <td>_managearea</td>
  </tr>
  <tr>
    <td class="font12-2">行业优势：</td>
    <td colspan="3">_industrysup</textarea></td>
  </tr>
  <tr>
    <td class="font12-2">联 系 人：</td>
    <td>_linkman</td>
    <td class="font12-2">手&nbsp;&nbsp;&nbsp; 机：</td> 
    <td>_cellphone</td>
  </tr>
  <tr>
    <td class="font12-2">电&nbsp;&nbsp;&nbsp; 话：</td> 
    <td>_phone</td>
    <td class="font12-2">传&nbsp;&nbsp;&nbsp; 真：</td> 
    <td>_fax</td>
  </tr>
  <tr>
    <td class="font12-2">电子邮件：</td>
    <td colspan="3">_email</td>
  </tr>
  <tr>
    <td colspan="4" align="center" class="bt">合作意向：</td>
  </tr>
  <tr>
    <td colspan="4">_coperatefavor</td>
  </tr>
  <tr>
    <td class="font12-2">申请时间：</td>
    <td>_applytime</td>
    <td class="font12-2">合作模式：</td>
    <td>_coperatemode</td>
  </tr>
</table>
</body>
</html>