.dis_input {
  font-family: "ו";
  font-size: 12px;
  border: 1px solid #999999;
}
.dis_text {
  font-family: "ו";
  font-size: 12px;
  color: #999999;
  font-weight: bolder;
  vertical-align: middle;
}